@import 'variables';
@import 'colors';

// base styles
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

ul {
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  margin: 2% auto;
  width: 60%;
  font-size: 2em;
  //border-bottom: 1px solid $steel;
}

h4 {
  font-size: 1.9em;
}

h5 {
  margin: 0;
  @include vertical-align;
  font-size: 1.8em;
}

h6 {
  margin: 0;
  padding: 15px 0;
  font-size: 1.6em;
}

#footer {
  padding: 20px 0;
  @extend .steel-bg;
  clear: both;
  width: 100%;
  ul {
    padding: 0;
    list-style: none;
    li {
      font-size: 1.4em;
    }
  }
  p {
    @include vertical-align;
    margin: 0;
  }
}

blockquote {
  text-align: center;
  @extend .steel-bg;
  margin: 0;
  font-style: italic;
  font-size: 2.2em;
  padding: 5% 40px;
  cite {
    padding: 10px 0;
    display: block;
    font-size: 0.9em;
  }
}

// utility classes
.vertical-align {
    @include vertical-align;
}

.gutter {
    padding: 0 25px;
    height: 100%;
}


.title-card-gutter {
  position: absolute;
  top: 0;
  height: 300px;
}

.overlay-link {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}