// Sunny and Calm
$morning-sky: #CAE4DB;
$honey: #DCAE10;
$cerulean: #00303F;
$mist: #7A9D96;

// Professional and Modern
$screen: #C5C1C0;
$steel: #0A1612;
$denim: #1A2930;
$marigold: #F7CE3E;

// color classes
.honey {
  color: $honey;
}
// background classes
.honey-bg {
  color: $cerulean;
  background: $marigold;
}

.denim-bg {
  background: $cerulean;
  color: $honey;
}

.steel-bg {
  background: $steel;
  color: #fff;
}