@import 'base';
@import 'components/cards';
@import 'components/buttons';
@import 'components/forms';

#header {
  background-size: cover;
  width: 100%;
  height: 600px;
}

.home-header {
  background: url('../img/bg.jpg') no-repeat center center;
}

.about-header {
  background: url('../img/about.jpeg') no-repeat center center;
}

.member-header {
  background: url('../img/makerfest.jpg') no-repeat center center;
}

.leadership-header {
  background: url('../img/exec.jpg') no-repeat center center fixed;
}

.mission {
  position: relative;
  height: 300px;
  background: url('../img/tim-marshall.jpg') no-repeat center center;
  background-size: cover;
}

.founding {
  position: relative;
  height: 300px;
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
}

.bg-card-overlay {
  color: #fff;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-overlay {
  @include z-index-1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#nav {
  @include z-index-2;
  padding: 20px;
  text-align: center
}

#menu {
  padding: 0;
  margin: 0;
  list-style: none;
  vertical-align: top;
}

.menu-item {
  display: inline-block;
  font-size: 1.6em;
  margin: 0 15px;
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.title-container {
  position: relative;
  top: 12%;
  padding: 10px;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  background: #eee;
}

.page-title-container {
  @extend .title-container;
  width: 100%;
}

.site-title {
  color: $denim;
  text-transform: uppercase;
  font-size: 3em;
  @include z-index-2;
}

.page-title {
  @extend .site-title;
  text-transform: none;
}

.site-subtitle {
  @include z-index-2;
  position: relative;
  top: 20%;
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}

#content {
  margin: 0 auto;
  font-size: 1.4em;
}

.makers {
  padding: 5% 0;
  width: 100%;
  color: $steel;
  h3 {
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    border-bottom: 1px solid $steel;
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
    padding: 20px 20px 0;
    width: 90%;
    font-size: 1.2em;
  }
}

.calendar {
  width: 50%;
  margin: 0 auto;
  padding: 5%;
  iframe {
    width: 100%;
    margin: 0 auto;
  }
}

.social-media {
  position: absolute;
  top: 0;
  right: 0;
}

#media-icons {
  padding: 0;
  list-style: none;
}

.media-icon {
  @extend .denim-bg;
  text-align: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  a {
    @include vertical-align;
    color: $screen;
    display: block;
    font-size: 1.6em;
    &:hover {
      color: #fff;
    }
  }
}

.quote {
  font-size: 1.2em;
}

.copyright {
  font-size: 1.4em;
  text-align: center;
}

#services {
  width: 100%;
  font-size: 1.4em;
  background: url('../img/print.jpg') no-repeat center center;
  background-size: cover;
  .bg-overlay {
    padding: 5% 0;
  }
  h3 {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  p {
    padding: 20px 20px 0;
    font-size: 1.1em;
    width: 50%;
    margin: 0 auto;
    color: #fff;
  }
}

.services {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  form {
    width: 100%;
    margin: 0 auto;
  }
}

.follow-us {
  padding: 0;
  li {
    font-size: 1.4em;
    display: inline;
    margin: 0 5px;
    a  {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: $screen;
      }
    }
  }
}