.card {
    position: relative;
    
    h3 {
        @include vertical-align;
    }

    p {
        line-height: 3;
        width: 80%;
        font-size: 1.2em;
        margin: 0 auto;
        @include vertical-align;
    }
    border: none;
}

.title-card {
    @extend .card;
    height: 300px;
}

.word-card {
    @extend .card;
    height: 299px;
    border-bottom: 1px solid $steel;
}
